body
{
	background: #EEEEEE;
	font-family: Arial;
	font-size: 16px;
	
}
a
{
	color: #22BCE0;
}
footer
{
	background: #22BCE0;
	bottom: 0;	
	color: white;
	padding: 1em;
	position: absolute;
	text-align: center;
	width: 100%;
}
footer p:first-child
{
	margin-bottom: 0;
}
footer p:last-child
{
	margin-top: 0;

}
footer p:last-child:before
{
	content: "- ";
}
footer p:last-child:after
{
	content: " -";
}
header
{
 background: #344B54;
 color: white;
 overflow: hidden;
 position: relative;
}
header figure
{
	float: left;
}
header #logo img
{
	border-right: 1px solid white;
	margin: 0.5em;
	padding: 0.5em;
	width: 60px;
}
header #avatar
{
	position: absolute;
	right: 0;
	top: 0;
}
header #avatar img
{
	border-radius: 70px;
	margin: 0.5em;
	width: 70px;
}
header h1 
{
	font-size: 1.2em;
	font-weight: normal;
}
nav
{
	background: #80BCA3;
	position: relative;
}
nav ul
{
	list-style: none;
	margin: 0;
	padding: 0;
}
nav ul li
{
	display: inline-block;
	margin: 0.7em;
}
nav ul li a
{
	color: white;
	text-decoration: none;
}
nav ul #publicar_nav
{
	
	position: absolute;
	top: 0;
	right: 0;
}
nav ul #publicar_nav a
{
	background: #22BCE0;
	border-radius: 8px;
	box-shadow: rgba(0,0,0,0.5) 5px 5px 20px;
	font-style: italic;
	padding: 0.8em 1em;	
	text-shadow: rgba(0,0,0,0.5) 2px 2px 5px;
}
#contenido
{
	margin: 1em;
}
#contenido .item
{
	background: white;
	border-bottom: 3px solid #22BCE0;
	margin-bottom: 3em;
	min-height: 130px; /* para que la imagen se vaya abajo del todo en el item */
	position: relative;
	/* overflow: hidden; Lo quitamos para que la barra de abajo del articulo sobresalga */
}
#contenido .item .imagen_item
{
	float: left;
	margin-right: 1em;
}
#contenido .item .imagen_item img
{
	width: 96px;
}
#contenido .item .titulo_item
{
	font-size: 1.2em;
	font-style: italic;
	padding-top: 1em; 
} 
#contenido .item .titulo_item a
{
	color: #444;
	text-decoration: none;
}
#contenido .item .autor_item
{
	color: #aaa;
}
#contenido .item .datos_item 
{
	color: #aaa;
	margin-top: 0.5em;
	text-align: right;
}
#contenido .item .datos_item .fecha_item
{
	padding-right: 1em;
} 

#contenido .item .datos_item .tag_item
{
	background: #F4502A;
	border-radius: 8px;
	color: white;
	float: left;
	padding: 0.2em 0.6em;
	text-decoration: none;
}
#contenido .item .votacion
{
	background: white;
	border-radius: 0 0 10px 10px;
	left: 5%;
	margin-top: 0.2em; 
	padding: 0.3em 1em;
	position: absolute;
	top: 100%; /* para situar la barra de votacion abajo */
	width: 90%;
}









